/*========================= Misc =========================*/
html {
    height: 100%;
}

body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

#body {
    padding-top: 100px;
    padding-bottom: 80px;
}

#rcorners {
    border-radius: 25px;
}

#wrapper {
    /* min-height: 100%; */
    position:relative;
    min-width: 1000px;
}

/*========================= Footer =========================*/
.footer {
    line-height: 0px;
    position: fixed;
    bottom: 0;
    left: 15px; 
    padding-top: 10px;
    width: 100%;
    background: black;
    min-width:1000px;          
}

#social-media {
    color: #90837a;
}

/*========================= Navbar =========================*/
.bg-custom{
    background-color:black !important
}

.dropdown-menu{
    color:#212529;
    background-color:#fff;
    right:0;
    left:auto
}

/*========================= Login =========================*/
/* Full-width input fields */
input[type=text], input[type=password], input[type=number] {
    width: 100%;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}



/*========================= Register =========================*/
.number{
    border-radius: 5px;
    height: 39px;
}

/*========================= Buttons =========================*/
.btn-outline-custom{
    color:white;
    background-color: transparent;
    background-image:none;
    border-color: #90837a;
}

.btn-outline-custom:hover{
    color:black;
    background-color:#90837a;
    border-color:black;
}

.btn-custom{
    color:black;
    background-color:#90837a;
    border-color:#90837a;
}
.btn-custom:hover{
    color:black;
    opacity: 0.8;
    border-color:black;
}

/*========================= Modal =========================*/

.modal-container {
    max-width: 100%;
    position: relative;
    margin: auto;
    height: 70%;
}

/*========================= User pages =========================*/

#myInput {
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    border-radius: 20px;
}

#myInput:focus{
    outline:0;
    border:1px solid deepskyblue;
}

thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}

thead {
    width: calc( 100% - 1em )
}

.list-group{
    max-height: 300px;
    margin-bottom: 10px;
    overflow:scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

.button-table {
    background-color: transparent; /* Green */
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button-table:hover{
    color:deepskyblue;
}

.button-table:focus {
    outline:0;
    color:deepskyblue;
}

/*=========================  =========================*/